DEEN_PPKS29.68-16-21-20_cid50_subsidy-DEFAULT_regulatory-DEFAULT_CFC.xml.zip
system/system/app/Chrome/Chrome.apk
system/system/priv-app/MotCamera2/MotCamera2.apk
system/system/priv-app/Velvet/Velvet.apk
